<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="Python27_via_FastCGI" />
			<remove name="Python34_via_FastCGI" />
			<add name="Python FastCGI"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="C:\home\python364x86\python.exe|C:\home\python364x86\wfastcgi.py"
                resourceType="Unspecified"
                requireAccess="Script" />
		</handlers>
        <!--rewrite>
            <rules>
                <rule name="RewriteAPIRequests" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="{R:1}" />
                </rule>
            </rules>
        </rewrite-->
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="api.app" />
		<add key="PYTHONPATH" value="C:\home\site\wwwroot\okta-sample-backend\" />
	</appSettings>
</configuration>